@import "../../common/scss/common";

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 0.6rem;
  margin: 0 5px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: $color-input;
  .icon-search {
    font-size: 18px;
    color: $color-input-text;
  }
  .box {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin: 0 5px;
    color: $color-input-text;
    background-color: $color-input;
    outline: none;
    font-size: 14px;
    &::placeholder {
      color: $color-input-text;
    }
  }
}