@import "../../common/scss/common";

.search-container {
  @include container;
  .right-container{
    .cancel {
      color: $color-background;
      font-size: 14px;
    }
  }
}

.hidden {
  display: none;
}