@import "../../../common/scss/common";

.recommend-container {
  @include box-container($top:1.68rem);
  .recommend-content {
    height: 100%;
    font-size: $font-size-large;
    overflow: hidden;
    .slider-container {
      @include slider-container;
      font-size: 0;
    }
    .rec-song-list {
      @include panel-container($margin: 10px, $txtPadding: 0, $txtSize: $font-size-medium-x);
    }
  }
}

.hidden {
  @include box-hidden;
}