@import "../../common/scss/common";

.slider {
  min-height: 1px;
  .slider-group {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    .slider-item {
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;
      a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-decoration: none;
        img {
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 0.1rem 0.2rem;
          border-radius: 15px;
        }
      }
    }
  }
}