@import "../../common/scss/common";

$toastPrefixCls: toast;

.#{$toastPrefixCls} {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  font-size: 42px;
  text-align: center;
  transform: translateZ(1px);
  &-notice {
    height: 0.8rem;
    .#{$toastPrefixCls}-info {
      line-height: 0.8rem;
      padding: 0 0.3rem;
      border-radius: 10px;
      color: $color-background;
      font-size: $font-size-large;
      background-color: rgba(58, 58, 58, 0.9);
    }
  }
  &.#{$toastPrefixCls}-mask {
     background-color: rgba(0,0,0,0.3);
  }
}