@import "variable";

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

@media(-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px-top {
    &:before {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }
  }
}

@media(-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px-top {
    &:before {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}
