@import "variable";

@mixin flex($direction:column,$inline:block) {
  display: if($inline==block,flex,inline-flex);
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin box-container($position: fixed, $width: 100%, $top: 0, $left: 0, $bottom: 1rem) {
  position: $position;
  width: $width;
  top: $top;
  left: $left;
  bottom: $bottom;
  background-color: $color-background;
  font-size: 0;
}

@mixin icon-container() {
  flex: 0 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@mixin slider-container() {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 40%;
  .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin panel-container(
  $bgColor:$color-background,
  $padding:0,
  $margin:10px 0,
  $txtPadding:0 24px,
  $height:23px,
  $txtColor:$color-text,
  $txtSize:$font-size-medium
) {
  background-color: $bgColor;
  padding: $padding;
  margin: $margin;
  > h4 {
    display: inline-block;
    height: $height;
    line-height: $height;
    padding: $txtPadding;
    color: $txtColor;
    font-size: $txtSize;
  }
}

@mixin box-hidden {
  display: none;
}