@import "variable";

@mixin wrapper($position: fixed, $width: 100%, $top: 0, $left: 0, $bottom: 1rem) {
  position: $position;
  width: $width;
  top: $top;
  left: $left;
  bottom: $bottom;
}

@mixin icon-wrapper() {
  flex: 0 0 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}