// 颜色定义规范
$color-background: #fff;
$color-theme: #dc423a;
$color-sub-theme: #f24c40;
$color-text: #222;
$color-text-theme: #B53B34;
$border-1px: rgba(7, 17, 27, 0.1);

// 字体大小定义规范
$font-size-small-s: 0.2rem;
$font-size-small: 0.24rem;
$font-size-medium: 0.28rem;
$font-size-medium-x: 0.32rem;
$font-size-large: 0.36rem;
$font-size-large-x: 0.44rem;

