@import "../../../common/scss/common";

.radio-container {
  @include box-container($top:1.68rem);
  .radio-content {
    height: 100%;
    font-size: $font-size-large;
    overflow: hidden;
  }
}

.hidden {
  @include box-hidden;
}