@import "../../common/scss/common";

.public-footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 1rem;
  @include border-1px-top($position: fixed);
  .tab {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
      width: 0.44rem;
      margin-bottom: 0.05rem;
    }
    .text {
      font-size: $font-size-small;
    }
    .active {
      color: $color-text-theme
    }
  }
}