@import "../../common/scss/common";

.player-container {
  @include box-container($bottom: 0, $bgColor: transparent);
  z-index: 999;
  .normal-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      filter: blur(20px);
      opacity: 0.6;
    }
  }
}

